/*  */
.Rooms_Container {
  background-color: #f4f6f9;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.Blue_Color {
  color: #007bff;
  font-weight: 700;
  font-size: 1vw;
}

.Rooms_Head_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-bottom: 1px solid #dee2e6;
}

.Rooms_Left {
  display: flex;
  gap: 32px;
  align-items: center;
}

.Rooms_Add_Rooms_Button {
  display: flex;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  gap: 8px;
  border: none;
  font-size: 1.3vw;
  background-color: #57b846;

  cursor: pointer;
  color: #fff;
}
.Rooms_Add_Rooms_Button a,
.Rooms_Add_Rooms_Button a:visited,
.Rooms_Add_Rooms_Button a:active {
  text-decoration: none;
  color: #fff;
}
.Rooms_Form_Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: 50px;
  gap: 24px;
}
.Rooms_Form_Main {
  /* padding: 10px; */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}
.Rooms_Form_Head,
.Rooms_Form_Head2 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  height: 12vh;
}
.Rooms_Form_Head2 {
  background-color: #e5e5e5;
  padding-left: 30px;
}
.Rooms_Head_Box {
  max-width: 10vw;
  margin-left: -8px;
}

.Rooms_Head_Box {
  width: 10vw;
  max-width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Rooms_Head_Box:first-child {
  padding-left: 15px;
  justify-content: start;
  width: 1vw;
}

.Rooms_Form_Head2:nth-child(odd) {
  background-color: #fff;
}

.Rooms_Form_Head2:nth-child(even) {
  background-color: #e5e5e5;
}

.Rooms_Images_Preview {
  width: 8vw;
  height: 10vh;
}

.Button_Page {
  background-color: transparent;
  padding: 10px;
  border: none;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.Button_Active {
  background-color: #007bff;
  color: #fff;
}
.Button_Active_Pages {
  background-color: #fff;
  color: #007bff;
}
.Button_NotActive_Pages {
  background-color: #fff;
  color: #000;
}
.Button_NotActive {
  background-color: #fff;
  color: #007bff;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Rooms_Link,
.Rooms_Link:visited,
.Rooms_Link:active {
  text-decoration: none;
  color: #007bff;
  font-size: 1vw;
}
.Rooms_Filter_Container {
  display: flex;
  gap: 24px;
  align-items: center;
}
.Rooms_Filter_Select {
  width: 12vw;
}
.Rooms_Filter_Input {
  width: 12vw;
}
/*  */
/*  */

.loading-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.loading-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading-semicircle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid #333;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotateSemicircle 2s linear infinite;
}

.loading-text {
  font-size: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-dots::after {
  content: "";
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes rotateSemicircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dots {
  0%,
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  80%,
  100% {
    content: "";
  }
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #d1d1d1;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 26px;
  top: 16px;
}

.bm-burger-bars {
  background: #373a47;
  background: #28a745;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
  /* background: #28a745; */
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.35em;
  font-weight: bold;
}
.menu_item_room {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}
.Rooms_Delete_Button {
  padding: 12px;
  font-size: 1vw;
  color: #fff;
  background-color: red;
  border: none;
  cursor: pointer;
}
.Rooms_Add_Rooms_Button,
.Rooms_Delete_Button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  border-radius: 25px;

  font-family: Poppins-Regular;
  font-size: 1vw;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.Rooms_Add_Rooms_Button:hover,
.Rooms_Delete_Button:hover {
  background-color: #333333;
}
.Rooms_Header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  font-size: 1.3vw;
}

.Rooms_Add_Rooms_Button_DownLoad {
  display: flex;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  gap: 8px;
  border: none;
  font-size: 1.3vw;
  background-color: #57b846;

  cursor: pointer;
  color: #fff;
}
.Rooms_Add_Rooms_Button_DownLoad a,
.Rooms_Add_Rooms_Button_DownLoad a:visited,
.Rooms_Add_Rooms_Button_DownLoad a:active {
  text-decoration: none;
  color: #fff;
}
.Rooms_Add_Rooms_Button_DownLoad:hover {
  background-color: #333333;
}
.Rooms_Add_Rooms_Button_DownLoad {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-radius: 25px;
  min-width: 120px;
  height: 50px;
  font-family: Poppins-Regular;
  font-size: 1vw;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.ForSearch {
  display: flex;
  align-items: center;
  gap: 2vw;
  height: 6vh;
}
.ForSearch input {
  height: 4vh;
}
.SearchBT button {
  padding: 8px;
  text-decoration: none;
  gap: 8px;
  border: none;
  font-size: 18px;
  background-color: #57b846;
  cursor: pointer;
  color: #fff;
  border-radius: 50px;
}
.checkboxRooms {
  width: 1vw;
}
